#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: #F5F7FB;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.Welcome {
  text-align: center;
}

.Welcome p, .Welcome h1 {
  margin: 10px;
}

.start-btn{
  background-color: #4D5B9E;
  margin-top: 30px;
}